ftfy==6.0.3
nltk==3.8.1
numpy==1.26.4
opencv_python==4.5.5.62
Pillow==9.0.1
Pillow==10.3.0
regex==2022.1.18
ruamel_yaml_conda==0.17.21
scipy==1.11.4
setuptools==60.2.0
setuptools==68.2.2
tensorflow==2.16.1
timm==0.5.4
torch==2.0.1
torch_dct==0.1.6
torchvision==0.15.2
tqdm==4.65.2
transformers==4.28.1
